:root {
    --blue: #0C0233;
    --yellow: #F2C502;
    --gray: #5D5D5D;
    --dark-gray: #11101B;

    --alatsi: "Alatsi", sans-serif;
    ;
    --inter: "Inter", sans-serif;
    --alexandria: "Alexandria", serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 1340px;
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
    margin-top: 57px;
}

.thatsalotofwords {
    margin: 0;
    margin-left: 70px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--inter);
    width: 646px;
}

.mainTxt {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

.txtImg {
    display: flex;
    flex-direction: column;
    width: 222px;
}







/* =============================NAVVVV============================== */


.nav {
    width: 1440px;
    height: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.links {
    width: 562px;
    height: 50px;
    margin-right: 80px;
    margin-left: auto;
}

.list_of_links {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.link_item {
    text-decoration: none;
    color: var(--blue);
    font-family: var(--inter);
    font-weight: 600;
    display: inline;
    font-size: 14px;
}

.logo {
    margin-left: 175px;
}

.search_icon {
    width: 43px;
    height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}








/* ============================NAAAAAAAVVVVVVVV=================================== */

.hero {
    width: 1440px;
    position: relative;
    overflow: hidden;
}

.heroTxtSmall {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 397px;
    position: absolute;
    top: 366px;
    left: 34px;
    background: black;
    height: 45px;
}

.heroSmallTxt {
    color: white;
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 500;
    margin-left: 28px;
}

.heroSmallYellow {
    background: var(--yellow);
    width: 25px;
    height: 45px;
}

.left {
    width: 6px;
    height: 37px;
    background: var(--yellow);
}

.right {
    width: 483px;
    height: 37px;
    background: var(--blue);
    text-align: center;
    font-family: var(--inter);
    font-weight: 300;
    font-size: 27px;
    color: white;
}

.gradient {
    width: 1440px;
    height: 232px;
    background: linear-gradient(to top, var(--dark-gray), transparent);
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.heroText_big {
    margin: 0;
    padding: 0;
    font-family: var(--inter);
    font-weight: 700;
    color: white;
    position: absolute;
    top: 411px;
    left: 34px;
    z-index: 3;
}

.heroText_big h1 {
    margin: 0;
    font-size: 50px;
}

.heroSubTxt {
    font-family: var(--inter);
    color: white;
    position: absolute;
    top: 520px;
    left: 34px;
    font-weight: medium;
    font-size: 27px;
    z-index: 3;
}

.hero img{
    width: 100%;
}

.call{
    position: absolute;
    bottom: 310px;
    left: 1180px;
    font-family: var(--alatsi);
    color: white;
    font-size: 300px;
    z-index: 4;
}

.form{
    display: flex;
    flex-direction: column;
    width: 695px;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--blue);
    padding: 30px;
    width: 100%;
    border-radius: 10px;
}

.form h1{
    text-align: center;
    font-family: var(--alexandria);
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 57px;
}

.lbl{
    width: 100%;
    text-align: left;
    font-family: var(--inter);
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.inp{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    padding: 10px;
}

.form input:focus{
    border: 2px solid rgb(112, 112, 112);
    outline: none;
}

input[type="file"]{
    display: none;
}

.fileUp{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    border: 2px solid #DDDDDD;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.fileUp img{
    width: 53px;
}

.submit{
    margin-top: 24px;
    padding: 20px;
    width: 705px;
    background: var(--blue);
    color: var(--yellow);
    font-weight: 500;
    font-family: var(--inter);
    font-size: 16px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

.submit:hover{
    cursor: pointer;
    background: #110346;
}

.wholelottatext{
    width: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.idfk{
    
    border-left: 14px solid var(--yellow);
    padding-left: 21px;
}

.idfk p{
    margin: 0;
    font-family: var(--inter);
    font-size: 14px;
    line-height: 25px;
    margin-top: 12px;
}

.botTxt{
    padding: 74px 0px;
    width: 1340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--blue);
    text-align: center;
    font-family: var(--alexandria);
    font-size: 20px;
    color: #232323;
}

.botTxt p{
    width: 1070px;
}

.content{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.content h1{
    margin-right: auto;
    font-family: var(--alexandria);
    color: var(--blue);
    font-weight: 400;
}

.sec1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1 h1{
    margin: 0;
    margin-right: auto;
    margin-left: 175px;
    margin-bottom: 30px;
}

.card{
    width: 986px;
    font-family: var(--inter);
    font-size: 14px;
}

.secTitle{
    font-weight: 600;
    margin-bottom: 16px;
}

.cardTxt{
    background: #F4F2F0;
    box-sizing: border-box;
    padding: 10px 30px;
}

.cardContent{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 45px;
}

.cardCluster{
    width: 986px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--inter);
    font-size: 14px;
}

.v1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.v2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.wrap{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 986px;
    height: 100%;
}

.p1 p, .p2 p, .p3 p, .p4 p, .p5 p{
    margin: 0;
}

.v1, .v2{
    gap: 15px;
    height: auto;
    flex: 1;
}

.p1, .p2, .p3, .p4, .p5{
    display: flex;
    flex-direction: column;
    background: #F4F2F0;
    flex:1;
    box-sizing: border-box;
    padding: 15px;
}

#layanan{
    margin-top: 68px;
}

.idk{
    width: 986px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.idk .cardTxt{
    flex: 1;
    height: 90%;
}









/* =============================FOOOTER================================== */

footer {
    width: 1440px;
    height: 759px;
    background: var(--dark-gray);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    margin-top: 45px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.iconContainer p {
    margin: 0;
    padding: 0;
    font-family: var(--inter);
    font-weight: 600;
    margin-left: 30px;
    font-size: 18px;
}

.footerIcon {
    width: 95;
}

.footerLeft {
    padding: 0;
    margin-top: 77px;
    padding-right: 34px;
    border-right: 1px solid white;
}

.footerLTxt {
    margin-top: 290px;
    padding-bottom: 15px;
    text-align: right;
    font-family: var(--inter);
    font-weight: 400;
    font-size: 16px;
}

.footerTop {
    display: flex;
    flex-direction: row;
}

.footerRight {
    margin-left: 130px;
    font-family: var(--inter);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.footerRight ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerRight li {
    margin: 15px;
    font-size: 14px;
    font-weight: 200;
}

.footerRight h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.layananKami {
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 121px;
}

.footerCol1 {
    margin-top: 124px;
    margin-left: 137px;
    margin-right: 115px;
}

.footerCol2 {
    margin-top: 124px;
}

.hubungiPolri,
.hotlineDarurat {
    margin-top: 82px;
}

.footerDown {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.contact {
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.contact ul {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--inter);
}

.contact li {
    font-weight: 300;
    font-size: 14px;
}

.footerSosmed {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.rockBottom {
    margin-top: 17px;
    margin-left: 25px;
    margin-right: 25px;
}

.rockBottom a {
    color: white;
    font-family: var(--inter);
    font-weight: 300;
    text-decoration: none;
}

.lastUpdate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--inter);
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    bottom: 40px;
    right: 80px;
}

.lastUpdate p {
    margin-right: 19px;
}

.footerLinks{
    text-decoration: none;
    color: white;
}